/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
tests/Unit/ExampleTest.php
tests/Feature/ExampleTest.php
tests/TestCase.php
tests/CreatesApplication.php
public/testclaims.csv
.env.example
resources/views/testView.blade.php
issuestoresolve
